flask
importlib-metadata==6.8.0
keras==2.15.0
numpy==1.26.2
pandas==2.1.3
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.15.0
torch==2.1.1
gunicorn



